<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="utf-8">
    <title>/{{ board.uri }} - pts_board</title>

    <link href="/static/styles.css" rel="stylesheet">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
{% if let Some(name) = board.name %}
<h1>/{{ board.uri }} - {{ name }}</h1>
{% else %}
<h1>/{{ board.uri }}/</h1>
{% endif %}

<!-- <form enctype="multipart/form-data"> -->
<form action="/api/create_thread" method="POST">
    <input name="board_id" type="hidden" value="{{ board.id }}">
    <div>
        <label for="title">Заголовок:</label>
        <input id="title" name="title" type="text">
    </div>
    <div>
        <label for="text">Текст:</label>
        <textarea id="text" name="text" required></textarea>
    </div>
    <!-- <input type="file" name="image"> -->
    <button type="submit">Создать тред</button>
</form>

{% for thread_posts in threads_posts %}
{% let thread=thread_posts.thread %}
{% let posts=thread_posts.posts %}
{% include "thread.html" %}
{% endfor %}
</body>
</html>