<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="utf-8">
    <title>Boards - pts_board</title>
</head>
<body>
<h1>Boards list:</h1>
<table>
    {% for board in boards %}
    <tr>
        <td>{{ board.id }}</td>

        <td><a href="/{{ board.uri }}">/{{ board.uri }}/</a></td>

        {% if let Some(name) = board.name %}
        <td>{{ name }}</td>
        {% else %}
        <td>&lt;null&gt;</td>
        {% endif %}

        {% if let Some(description) = board.description %}
        <td>{{ description }}</td>
        {% else %}
        <td>&lt;null&gt;</td>
        {% endif %}

        {% if let Some(max_threads) = board.max_threads %}
        <td>{{ max_threads }}</td>
        {% else %}
        <td>&lt;null&gt;</td>
        {% endif %}

        {% if let Some(created_at) = board.created_at %}
        <td>{{ created_at }}</td>
        {% else %}
        <td>&lt;null&gt;</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</body>
</html>